public/index.html
public/images/twitter-logo.png
server/db.json
server/seed.js
src/api.js
src/global.css
src/index.css
src/index.js
src/components/App.js
src/components/Badge.js
src/components/BadgeForm.js
src/components/BadgeLists.js
src/components/CharactersList.js
src/components/Gravatar.js
src/components/Layout.js
src/components/Loader.js
src/components/Navbar.js
src/components/PageError.js
src/components/PageLoading.js
src/components/Pagination.js
src/components/SkeletonBadgeLists.js
src/components/styles/Badge.css
src/components/styles/BadgesList.css
src/components/styles/Loader.css
src/components/styles/Navbar.css
src/components/styles/PageError.css
src/components/styles/PageLoading.css
src/images/404.svg
src/images/astronaut.svg
src/images/astronaut2.svg
src/images/astronauts.svg
src/images/badge-header.svg
src/images/logo.svg
src/images/platziconf-logo.svg
src/images/Rick_and_Morty.svg
src/images/stars.svg
src/pages/BadgeNew.js
src/pages/Badges.js
src/pages/CharactersCard.js
src/pages/Home.js
src/pages/NotFound.js
src/pages/styles/BadgeNew.css
src/pages/styles/Badges.css
src/pages/styles/Home.css
src/pages/styles/notfound.css
