.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: #1C3643;
}

.Navbar__brand {
  color: #ffffff;

  
  align-items: center;
  padding-right: 0.5rem;
    padding-left: 0.5rem;
    display: block;
    padding: 0.5rem 1rem;
}

.Navbar__brand:hover {
  color: #fffff1;
  text-decoration: none;
}

.Navbar__brand-logo {
  margin-right: 0.5rem;
}